#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.product-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
h1{
  color: rgb(0, 0, 0);
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.pagination > span{
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
}

.pagination__disable{
  opacity: 0;
}

.pagination__selected{
  background-color: rgb(69, 27, 27);
}